# IntelliJ IDEA / Android Studio files
*.iml
.idea/

# Gradle files
.gradle/
gradle/
# Gradle files for Solo Development / Remove files for Shared Develpoment
gradlew
gradlew.bat
gradle-wrapper.jar

# Build output
/build/
*.apk
*.aar

# Local configuration
local.properties

# Native build artifacts
.externalNativeBuild/
.cxx/

# Screen captures
/captures/

# macOS-specific files
.DS_Store

# Miscellaneous
*.log